:root {
  --background-color: #ffffff;
  /* Light mode background color */
  --text-color: #000000;
  /* Light mode text color */
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#mode-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 24px;
  transition-duration: 150ms;
}

#mode-toggle:hover {
  color: #a8ffab;
  cursor: pointer;
}

.dark-mode {
  --background-color: #333333;
  /* Dark mode background color */
  --text-color: #ffffff;
  /* Dark mode text color */
}


body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  /* Center-align the content */
}

header {
  background-color: #4CAF50;
  box-shadow: 0px 0px 50px 5px #346536;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}

header h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 0;
}

section h2,
section p,
section ul {
  text-align: center;
  /* Center-align the text */
}

section h2 {
  margin-bottom: 20px;
  color: #4CAF50;
}

section p {
  margin-bottom: 20px;
}

section ul {
  margin-bottom: 20px;
}

section ul li {
  margin-bottom: 10px;
  list-style: none;
  /* Remove default list styles */
}

.no-dots {
  list-style: none;
  /* Remove default list styles */
}

.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}